* 
    padding: 0
    margin: 0
    box-sizing: border-box

@font-face
    font-family: "Arial"
    src: url(../fonts/arial.ttf) format("truetype")
    font-style: normal
    font-weight: normal

@font-face
    font-family: "Din Condensed"
    src: url(../fonts/DinCondensedBold.otf) format("opentype")
    font-style: normal
    font-weight: bold

.wrapper
    width: 1024px
    height: 768px
    background: url('../img/BGday.png') no-repeat
    transition: 10s
    position: relative

    & img

        &:nth-child(1)
            position: absolute
            top: 20px
            left: 20px

        &:nth-child(2)
            position: absolute
            top: 20px
            right: 20px

        &:nth-child(3)
            position: absolute
            bottom: 20px
            left: 20px
        
        &:nth-child(4)
            position: absolute
            bottom: 20px
            right: 0
            z-index: 2
        
        &:nth-child(5)
            position: absolute
            bottom: 45px
            right: 115px
            z-index: 1

.first-slide p:nth-child(1)
    position: absolute
    bottom: 250px
    left: 175px
    font-family: "Arial"
    font-size: 23pt

.first-slide p:nth-child(2)
    position: absolute
    bottom: 250px
    right: 235px
    font-family: "Arial"
    font-size: 23pt
    color: #005da8

.first-slide-show

    & p:nth-child(1)
        animation: first 2s
        animation-fill-mode: forwards

    & p:nth-child(2)
        animation: first 2s  
        animation-fill-mode: forwards         


@keyframes first
    0%
        bottom: 250px

    100%
        bottom: 730px
        opacity: 0


.second-slide

    opacity: 0

    & p:nth-child(1)
        position: absolute
        bottom: 90px
        left: 115px
        font-family: 'Arial'
        width: 200px
        text-align: center
        opacity: 0

    &-show
        opacity: 1


.left-beacon-show
    opacity: 1 !important
    transition: 1s

.st1-text
    position: absolute
    right: 170px
    bottom: 75px
    z-index: 1
    opacity: 0

    & img:nth-child(1)
        position: static
        display: block
        margin: 0 auto
        
    & p:nth-child(2)   
        font-family: "Din Condensed"
        font-size: 20pt
        text-align: center
        color: #005da8
    
    & p:nth-child(3)   
        font-family: "Arial"
        font-size: 12pt
        text-align: center
        color: #005da8

    &-show
        opacity: 1
        transition: 1s
            