@import _stage
@import _bookmark
@import _animate
    
* 
    padding: 0
    margin: 0
    box-sizing: border-box

.body
    overflow-x: hidden

@font-face
    font-family: "Arial"
    src: url(../fonts/arial.ttf) format("truetype")
    font-style: normal
    font-weight: normal

@font-face
    font-family: "Din Condensed"
    src: url(../fonts/DinCondensedBold.otf) format("opentype")
    font-style: normal
    font-weight: bold

.wrapper
    width: 1024px
    height: 768px
    background: url('../img/BGday.png') no-repeat
    transition: 10s
    position: relative

.wrapper-night
    transition: 4s
    background: url('../img/BGnight.png') no-repeat
    transition-delay: 10s

.template

    & img

        &:nth-child(1)
            position: absolute
            top: 20px
            left: 20px
            cursor: pointer
            z-index: 2

        &:nth-child(2)
            position: absolute
            top: 20px
            right: 20px

        &:nth-child(3)
            position: absolute
            bottom: 20px
            left: 20px
            cursor: pointer
            z-index: 2

        &:nth-child(4)
            position: absolute
            bottom: 20px
            right: 0
            z-index: 2

        &:nth-child(5)
            position: absolute
            top: 0
            left: 140px
            width: 265px

        &:nth-child(6)
            position: absolute
            top: 45px
            left: 0px
            width: 700px
            opacity: 0

        &:nth-child(7)
            position: absolute
            top: -55px
            right: 110px
            opacity: 0
            z-index: 1

