* 
    padding: 0
    margin: 0
    box-sizing: border-box

@font-face
    font-family: "Arial"
    src: url(../fonts/arial.ttf) format("truetype")
    font-style: normal
    font-weight: normal

@font-face
    font-family: "Din Condensed"
    src: url(../fonts/DinCondensedBold.otf) format("opentype")
    font-style: normal
    font-weight: bold

.wrapper
    width: 1024px
    height: 768px
    background: url('../img/BGday.png') no-repeat
    transition: 10s
    position: relative

.wrapper-night
    transition: 3s
    background: url('../img/BGnight.png') no-repeat
    transition-delay: 11s

.template

    & img

        &:nth-child(1)
            position: absolute
            top: 20px
            left: 20px

        &:nth-child(2)
            position: absolute
            top: 20px
            right: 20px

        &:nth-child(3)
            position: absolute
            bottom: 20px
            left: 20px

        &:nth-child(4)
            position: absolute
            bottom: 20px
            right: 0
            z-index: 2

        &:nth-child(5)
            position: absolute
            top: 0
            left: 140px
            width: 265px

        &:nth-child(6)
            position: absolute
            top: 45px
            left: 0px
            width: 700px
            opacity: 0

        &:nth-child(7)
            position: absolute
            top: -55px
            right: 110px
            opacity: 0
            z-index: 1

.stars-active
    opacity: 1 !important
    transition: 3s
    transition-delay: 15s

.beaconGlow-active
    opacity: 1 !important
    transition: 3s
    transition-delay: 15s
    animation: beaconGlow 3s infinite

@keyframes beaconGlow
    0%
        transform: scale(1)

    50%
        transform: scale(1.2)
    
    100%
        transform: scale(1)


.sunGlow-active
    animation: glow 5s infinite

.sunGlow-disactive
    opacity: 0
    transition: 3s
    transition-delay: 11s

@keyframes glow
    0%
        transform: scale(1)

    50%
        transform: scale(1.1)

    100%
        transform: scale(1)

.clouds
    position: relative
    transform: translateX(-70%)


    & img:nth-child(1)
        position: absolute
        top: 160px
        left: 155px

    & img:nth-child(2)
        position: absolute
        top: 100px
        left: -245px

    & img:nth-child(3)
        position: absolute
        top: 265px
        left: 0

    & img:nth-child(4)
        position: absolute
        top: 130px
        left: 60px
        
    &-active
        animation: 50s clouds
        
@keyframes clouds
    0%
        transform: translateX(-70%)

    100%
        transform: translateX(135%)





.first-slide p:nth-child(1)
    position: absolute
    bottom: 250px
    left: 175px
    font-family: "Arial"
    font-size: 23pt

.first-slide p:nth-child(2)
    position: absolute
    bottom: 250px
    right: 235px
    font-family: "Arial"
    font-size: 23pt
    color: #005da8

.first-slide-show

    & p:nth-child(1)
        animation: first 2s
        animation-fill-mode: forwards

    & p:nth-child(2)
        animation: first 2s  
        animation-fill-mode: forwards         


@keyframes first
    0%
        bottom: 250px

    100%
        bottom: 730px
        opacity: 0


.second-slide

    opacity: 0

    & p:nth-child(1)
        position: absolute
        bottom: 90px
        left: 115px
        font-family: 'Arial'
        width: 200px
        text-align: center
        opacity: 0

    &-show
        opacity: 1


.left-beacon-show
    opacity: 1 !important
    transition: 1s
    transition-delay: 2s

.st1-text
    position: absolute
    right: 180px
    bottom: 74px
    z-index: 1
    opacity: 0

    & img:nth-child(1)
        position: static
        display: block
        margin: 0 auto
        width: 110px
        
    & p:nth-child(2)   
        font-family: "Din Condensed"
        font-size: 18px
        text-align: center
        color: #005da8
    
    & p:nth-child(3)   
        font-family: "Arial"
        font-size: 15px
        text-align: center
        color: #005da8

    &-show
        opacity: 1
        transition: 1s
        transition-delay: 2s

.st2
    opacity: 0

    & img:nth-child(1)
        position: absolute
        bottom: 179px
        right: 265px
        width: 50px

    & p:nth-child(2)
        position: absolute
        font-family: "Din Condensed"
        font-size: 18px
        text-align: center
        color: #005da8
        bottom: 160px
        right: 175px

.st2-show
    opacity: 1
    transition: 1s
    transition-delay: 3s

.st3
    opacity: 0

    & img:nth-child(1)
        width: 50px
        position: absolute
        bottom: 285px
        right: 265px
        
    & p:nth-child(2)
        position: absolute
        font-family: "Din Condensed"
        font-size: 18px
        text-align: center
        color: #005da8
        bottom: 265px
        right: 190px    

    & p:nth-child(3)
        position: absolute
        font-family: "Arial"
        font-size: 15px
        text-align: center
        color: #005da8
        bottom: 230px
        right: 190px
        width: 200px
        
        
.st3-show
    opacity: 1
    transition: 1s
    transition-delay: 4s

.st4
    opacity: 0

    & img:nth-child(1)
        width: 50px
        position: absolute
        bottom: 392px
        right: 265px

    & p:nth-child(2)
        position: absolute
        bottom: 334px
        right: 190px
        color: #005da8
        font-family: "Arial"
        font-size: 15px
        width: 200px
        text-align: center

        & span
            font-family: "Din Condensed"
            font-size: 18px

.st4-show
    opacity: 1
    transition: 1s
    transition-delay: 5s

.st5
    opacity: 0

    & img:nth-child(1)
        width: 50px
        position: absolute
        bottom: 473px
        right: 265px

    & p:nth-child(2)
        position: absolute
        bottom: 455px
        right: 190px
        color: #005da8
        font-family: "Din Condensed"
        font-size: 18px
        width: 200px
        text-align: center

    & p:nth-child(3)
        position: absolute
        bottom: 441px
        right: 190px
        color: #005da8
        font-family: "Arial"
        font-size: 15px
        width: 200px
        text-align: center

.st5-show
    opacity: 1
    transition: 1s
    transition-delay: 6s

.st6
    opacity: 0

    & img:nth-child(1)
        width: 50px
        position: absolute
        bottom: 571px
        right: 265px

    & p:nth-child(2)
        position: absolute
        bottom: 521px
        right: 194px
        color: #005da8
        font-family: "Arial"
        font-size: 14px
        width: 197px
        text-align: center

        & span
            color: #005da8
            font-family: "Din Condensed"
            font-size: 16px

.st6-show
    opacity: 1
    transition: 1s
    transition-delay: 7s

        
.night__stage 
    opacity: 0
    
    & img
        position: absolute
        bottom: 45px
        right: -9px
        width: 1155px
        height: 721px

    &-show
        opacity: 1
        transition: 5s
        transition-delay: 10s

.stage

    & img:nth-child(1)
        width: 340px
        height: 715px
        position: absolute
        bottom: 50px
        right: 115px
        opacity: 0

    & img:nth-child(2)
        width: 340px
        height: 442px
        position: absolute
        bottom: 50px
        right: 115px
        opacity: 0

    & img:nth-child(3)
        width: 340px
        height: 365px
        position: absolute
        bottom: 50px
        right: 115px
        opacity: 0

    & img:nth-child(4)
        width: 340px
        height: 270px
        position: absolute
        bottom: 50px
        right: 115px
        opacity: 0

    & img:nth-child(5)
        width: 340px
        height: 180px
        position: absolute
        bottom: 50px
        right: 115px
        opacity: 0

    & img:nth-child(6)
        width: 340px
        height: 115px
        position: absolute
        bottom: 45px
        right: 115px

    &-show

        & img:nth-child(1)
            opacity: 1
            transition: 1s
            transition-delay: 7s

        & img:nth-child(2)
            opacity: 1
            transition: 1s
            transition-delay: 6s

        & img:nth-child(3)
            opacity: 1
            transition: 1s
            transition-delay: 5s

        & img:nth-child(4)
            opacity: 1
            transition: 1s
            transition-delay: 4s

        & img:nth-child(5)
            opacity: 1
            transition: 1s
            transition-delay: 3s
            